body{
    display: flex;
    background-color: rgb(66, 64, 64);
}
.Input-div{
    font-size: 45px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: auto;
}
.Search-input{
    height: 35px;
    border-radius: 20px;
    width: 450px;
}